<a href="https://colab.research.google.com/github/Farrukh077/Assignment/blob/main/Group%20activity%20Group%20B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/my_db.db/")
print(my_conn.name)

sqlite

In [63]:
# delete sample table student
from sqlalchemy.exc import SQLAlchemyError
try:
  my_conn.execute('''DROP table student;''')
  print("student table deleted")
except SQLAlchemyError as e:
  error = str(e._dict_['orig'])
  print(error)
  #print(e)

student table deleted

In [64]:
from sqlalchemy.exc import SQLAlchemyError
try:
  my_conn.execute('''
    CREATE TABLE IF NOT EXISTS student(id varchar(22) primary key,
                                       name varchar(22),
                                       grade integer(22)
                                       );''')
  
  print("Student Table created successfully")
except SQLAlchemyError as e:
  error = str(e._dict_['orig'])
  print(error)

Student Table created successfully

In [65]:
r_set=my_conn.execute('''INSERT INTO `student`
(`id`,`name`,`grade`) VALUES
(001, 'John Deo',4.0),
(002, 'Max Ruin',4.5),
(003, 'Arnold',3.0),
(004, 'Krish Star',3.5),
(005, 'John Mike',3.0),
(006, 'Alex John',4.0),
(007, 'My John Rob',2.5),
(008, 'Asruid',2.0),
(009, 'Tes Qry',3.0),
(010, 'Big John',4.0),
(011, 'Ronald',4.5),
(012, 'Big Nose',3.0),
(013, 'Rojj Base',3.5),
(014, 'Tess Played',4.0),
(015, 'Reppy Red',3.5),
(016, 'Marry Toeey',2.0),
(017, 'Binn Rott',3.5),
(018, 'Bob Fischer',3.0),
(019, 'Gain Toe',3.0),
(020, 'Rows Noump',2.5);''')