<a href="https://colab.research.google.com/github/Farrukh077/Assignment/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import sqlite3
 
conn = sqlite3.connect('my.db')
 
conn.execute('''
CREATE TABLE Country (
   Code VARCHAR(22) NULL,
   Name NVARCHAR NOT NULL ,
   Language VARCHAR NOT NULL 
 );''')
 
conn.commit()
 
print("country table created");
 
conn.execute('''
CREATE TABLE Booking_service (
	booking_reference_number VARCHAR(22) PRIMARY KEY NOT NULL,
	pick_up_location     CHAR(18) NULL,
	trip_date            TIMESTAMP NULL,
	start_odometer_value VARCHAR(22) NULL,
	end_odometer_value   VARCHAR(22) NULL,
	drop_off_location    CHAR(18) NULL,
	capacity             CHAR(18) NULL
);''')
 
conn.commit()
 
print("booking table created");

conn.execute('''
CREATE TABLE Driver
(
	Driver_ID       INTEGER PRIMARY KEY NOT NULL,
	Driver_name     VARCHAR(35) NULL,
	Licence_number       INTEGER NULL,
	Clearance_level      NUMERIC(4) NULL,
	driver_language      VARCHAR(22) NULL
);''')

conn.commit()
 
print("Driver table created");

conn.execute('''
CREATE TABLE Drop_off_location
(
	drop_off_location    CHAR(18) PRIMARY KEY NOT NULL,
	location_adress      VARCHAR(255) NULL,
	location_type        CHAR(18) NULL
);''')

conn.commit()

print("Drop_off_location table created");

conn.execute('''
CREATE TABLE FATL
(
	Driver_ID            INTEGER PRIMARY KEY NOT NULL,
	FATL_level           numeric(1,10) NULL,
	qualification_date   TIMESTAMP NULL
);''')
conn.commit()

print("FATL table created");


conn.execute('''
CREATE TABLE Officials
(
	Country_ID           VARCHAR(22) PRIMARY KEY NOT NULL,
	role                 varchar(18) NULL,
	name                 varchar(18) NULL,
	officials_language   CHAR(18) NULL,
	City_ID              varchar(8) NULL
);''')

conn.commit()

print(" Officials table created");


conn.execute('''
CREATE TABLE Pick_up_location
(
	pick_up_location     CHAR(18) PRIMARY KEY NOT NULL,
	location_adress      VARCHAR(255) NULL,
	location_type        CHAR(18) NULL
);''')

conn.commit()

print(" Pick_up_location table created");


conn.execute('''
CREATE TABLE STLVT
(
	Driver_ID            INTEGER NOT  NULL,
	STLVT_level          numeric(1,5) NULL,
	qualification_date   TIMESTAMP NULL
);''')

conn.commit()

print(" STVL table created");

conn.execute('''
CREATE TABLE Vehicle
(
	Manufacturer         varchar(22) NULL,
	color                varchar(255) NULL,
	Current_odometer     INTEGER NULL,
	Passenger_capacity   INTEGER NULL,
	Action_type          INTEGER NULL,
	Cost                 INTEGER NULL,
	Description          varchar(255) NULL,
	Date_vehicle         TIMESTAMP NULL,
	Driver_ID            INTEGER NULL,
	registration_ID      VARCHAR(20) NULL,
	Model                VARCHAR(20) NULL,
	Vehicle_ID           VARCHAR(20) NULL
);''')
conn.commit()

print(" Vehicle table created");

conn.execute('''
CREATE TABLE Vehicle_availability
(
	booking_reference_number VARCHAR(22) PRIMARY KEY NOT NULL,
	condition            varchar(18) NULL,
	Vehicle_ID           VARCHAR(20) NULL
);''')

conn.commit()

print(" vehicle_availability table created");

country table created
booking table created
Driver table created
Drop_off_location table created
FATL table created
 Officials table created
 Pick_up_location table created
 STVL table created
 Vehicle table created
 vehicle_availability table created

In [30]:
conn.execute("REPLACE INTO Country(Code,Name,Language) VALUES('ISO 3166-2','AFGHANISTAN','AF');")
conn.execute("REPLACE INTO Country(Code,Name,Language) VALUES('ISO 3166-2','Åland Islands','AX');")
conn.execute("REPLACE INTO Country(Code,Name,Language) VALUES('ISO 3166-2','Albania','AL');")
conn.execute("REPLACE INTO Country(Code,Name,Language) VALUES('ISO 3166-2','Algeria','DZ');")
conn.execute("REPLACE INTO Country(Code,Name,Language) VALUES('ISO 3166-2','American Samoa','AS');")
conn.execute("REPLACE INTO Country(Code,Name,Language) VALUES('ISO 3166-2','Angola','AO');")
conn.execute("REPLACE INTO Country(Code,Name,Language) VALUES('ISO 3166-2','Anguilla','AI');")
conn.execute("REPLACE INTO Country(Code,Name,Language) VALUES('ISO 3166-2','Antarctica','AQ');")
conn.execute("REPLACE INTO Country(Code,Name,Language) VALUES('ISO 3166-2','Antigua and Barbuda','AG');")
conn.execute("REPLACE INTO Country(Code,Name,Language) VALUES('ISO 3166-2','Argentina','AR');")
conn.execute("REPLACE INTO Country(Code,Name,Language) VALUES('ISO 3166-2','Armenia','AM');")
conn.execute("REPLACE INTO Country(Code,Name,Language) VALUES('ISO 3166-2','Aruba','AW');")
conn.execute("REPLACE INTO Country(Code,Name,Language) VALUES('ISO 3166-2','Australia','AU');")
conn.execute("REPLACE INTO Country(Code,Name,Language) VALUES('ISO 3166-2','Austria','AT');")
conn.execute("REPLACE INTO Country(Code,Name,Language) VALUES('ISO 3166-2','Azerbaijan','AZ');")
conn.execute("REPLACE INTO Country(Code,Name,Language) VALUES('ISO 3166-2','Bahamas (the)','BS');")
conn.execute("REPLACE INTO Country(Code,Name,Language) VALUES('ISO 3166-2','Bahrain','BH');")
conn.execute("REPLACE INTO Country(Code,Name,Language) VALUES('ISO 3166-2','Bangladesh','BD');")
conn.execute("REPLACE INTO Country(Code,Name,Language) VALUES('ISO 3166-2','Barbados','BB');")
conn.execute("REPLACE INTO Country(Code,Name,Language) VALUES('ISO 3166-2','Belarus','BY');")
conn.execute("REPLACE INTO Country(Code,Name,Language) VALUES('ISO 3166-2','Belgium','BE');")
conn.commit()

In [31]:
conn = sqlite3.connect('my.db')
cursor = conn.execute(''' SELECT * FROM Country ''')
for tuples in cursor:
  print(tuples)

('ISO 3166-2', 'AFGHANISTAN', 'AF')
('ISO 3166-2', 'Åland Islands', 'AX')
('ISO 3166-2', 'Albania', 'AL')
('ISO 3166-2', 'Algeria', 'DZ')
('ISO 3166-2', 'American Samoa', 'AS')
('ISO 3166-2', 'Angola', 'AO')
('ISO 3166-2', 'Anguilla', 'AI')
('ISO 3166-2', 'Antarctica', 'AQ')
('ISO 3166-2', 'Antigua and Barbuda', 'AG')
('ISO 3166-2', 'Argentina', 'AR')
('ISO 3166-2', 'Armenia', 'AM')
('ISO 3166-2', 'Aruba', 'AW')
('ISO 3166-2', 'Australia', 'AU')
('ISO 3166-2', 'Austria', 'AT')
('ISO 3166-2', 'Azerbaijan', 'AZ')
('ISO 3166-2', 'Bahamas (the)', 'BS')
('ISO 3166-2', 'Bahrain', 'BH')
('ISO 3166-2', 'Bangladesh', 'BD')
('ISO 3166-2', 'Barbados', 'BB')
('ISO 3166-2', 'Belarus', 'BY')
('ISO 3166-2', 'Belgium', 'BE')

In [27]:
conn.execute("INSERT INTO Vehicle(Manufacturer,color,Current_odometer,Passenger_capacity,Action_type,Cost,Description,Date_vehicle,Driver_ID,registration_ID,Model,Vehicle_ID) VALUES('volvo','silver',4350,4,'M',50,'Comfortable',2020,12184773,'2001ABC','XC90 SE','V1000');")
conn.execute("INSERT INTO Vehicle(Manufacturer,color,Current_odometer,Passenger_capacity,Action_type,Cost,Description,Date_vehicle,Driver_ID,registration_ID,Model,Vehicle_ID) VALUES('Kia','black',2195,4,'R',45,'Convenient',2021,12185773,'2006 AFD','K7','V1001');")
conn.execute("INSERT INTO Vehicle(Manufacturer,color,Current_odometer,Passenger_capacity,Action_type,Cost,Description,Date_vehicle,Driver_ID,registration_ID,Model,Vehicle_ID) VALUES('Tesla','white',509,4,'R',60,'Luxury',2019,12186773,'2006 AFD','2020 F','V1001');")
conn.execute("INSERT INTO Vehicle(Manufacturer,color,Current_odometer,Passenger_capacity,Action_type,Cost,Description,Date_vehicle,Driver_ID,registration_ID,Model,Vehicle_ID) VALUES('Ford','silver',974,2,'M',30,'New',2022,12187773,'2020 DXF','Transit','V1003');")

conn.commit()

In [28]:
cursor = conn.execute(''' SELECT * FROM Vehicle ''')
 
for row in cursor:
  print(row)

('volvo', 'silver', 4350, 4, 'M', 50, 'Comfortable', 2020, 12184773, '2001ABC', 'XC90 SE', 'V1000')
('Kia', 'black', 2195, 4, 'R', 45, 'Convenient', 2021, 12185773, '2006 AFD', 'K7', 'V1001')
('Tesla', 'white', 509, 4, 'R', 60, 'Luxury', 2019, 12186773, '2006 AFD', '2020 F', 'V1001')
('Ford', 'silver', 974, 2, 'M', 30, 'New', 2022, 12187773, '2020 DXF', 'Transit', 'V1003')