<a href="https://colab.research.google.com/github/Farrukh077/Assignment/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/my.db")

In [15]:
r_set=my_conn.execute("SELECT * from Country")
for row in r_set:
  print(row)

('ISO 3166-2', 'AFGHANISTAN', 'AF')
('ISO 3166-2', 'Ã…land Islands', 'AX')
('ISO 3166-2', 'Albania', 'AL')
('ISO 3166-2', 'Algeria', 'DZ')
('ISO 3166-2', 'American Samoa', 'AS')
('ISO 3166-2', 'Angola', 'AO')
('ISO 3166-2', 'Anguilla', 'AI')
('ISO 3166-2', 'Antarctica', 'AQ')
('ISO 3166-2', 'Antigua and Barbuda', 'AG')
('ISO 3166-2', 'Argentina', 'AR')
('ISO 3166-2', 'Armenia', 'AM')
('ISO 3166-2', 'Aruba', 'AW')
('ISO 3166-2', 'Australia', 'AU')
('ISO 3166-2', 'Austria', 'AT')
('ISO 3166-2', 'Azerbaijan', 'AZ')
('ISO 3166-2', 'Bahamas (the)', 'BS')
('ISO 3166-2', 'Bahrain', 'BH')
('ISO 3166-2', 'Bangladesh', 'BD')
('ISO 3166-2', 'Barbados', 'BB')
('ISO 3166-2', 'Belarus', 'BY')
('ISO 3166-2', 'Belgium', 'BE')

In [16]:
r_set=my_conn.execute("SELECT * from Vehicle")
for row in r_set:
  print(row)

('volvo', 'silver', 4350, 4, 'M', 50, 'Comfortable', 2020, 12184773, '2001ABC', 'XC90 SE', 'V1000')
('Kia', 'black', 2195, 4, 'R', 45, 'Convenient', 2021, 12185773, '2006 AFD', 'K7', 'V1001')
('Tesla', 'white', 509, 4, 'R', 60, 'Luxury', 2019, 12186773, '2006 AFD', '2020 F', 'V1001')
('Ford', 'silver', 974, 2, 'M', 30, 'New', 2022, 12187773, '2020 DXF', 'Transit', 'V1003')